.search-bar {
  background-color: white;
  margin: 0 auto;
  width: auto;
  border-radius: 5px;
  border: 1px solid black;
  margin: 20px 25% 0% 25%;
}

.search-bar:focus-within {
  box-shadow: 1px 1px 8px 1px #474747;
  outline: none;
}

.search-field {
  background-color: white;
  height: 40px;
  border: none;
  width: 90%;
  font-size: 18px;
  outline: none;
}

.search-field:focus {
  background-color: white;
}

.search-icon {
  height: 20%;
  position: relative;
  float: right;
  top: 14px;
  right: 10px;
}
